# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# playwright
/test-results/
/playwright-report/
/playwright/.cache/
/tests/
playwright.config.ts
*.spec.ts-snapshots/

# github actions
/.github/

# logs
dev-server.log
*.log

# zip / archives
*.zip
*.tar.gz
*.rar

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
